<div class="container mt-3" style="width:50%">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :designation %>
    <%= f.input :password %> <i>(leave blank if you don't want to change it)</i> <br> 
    <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.button :submit, "Update" %>

  <% end %>
  <br><br
  >
  <h4>Cancel my account</h4>

  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to "Back", :back %>
</div>