<nav class="navbar navbar-expand-sm bg-dark navbar-dark stickt-top">
  <h3 class="navbar-brand"><%= link_to 'Home', '/' %></h3>

  <div class="mr-2" style="float-left"> 
        <%= link_to 'Blog', articles_path,  style: 'color:#ccc;', class: 'css_class' %> | 
        <%= link_to 'Authors', users_index_path,  style: 'color:#ccc;', class: 'css_class' %> |
    
        <% if !user_signed_in? %> 
        <%= link_to 'Sign up', new_user_registration_path,  style: 'color:#ccc;', class: 'css_class' %> |
        <%= link_to 'Log in', new_user_session_path,  style: 'color:#ccc;', class: 'css_class' %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'New Article', new_article_path,  style: 'color:#ccc;', class: 'css_class' %>    |
        <%= link_to 'Sign out', destroy_user_session_path, method: "delete",  style: 'color:#ccc;', class: 'css_class' %> |
      <%end%>  
  </div>

  <% if user_signed_in? %>
  <div class="css_class" style= "color:#FFFFFF;">
    <span class="text-muted "> <%= current_user.username %></span>
  </div>
  <%end%>

</nav>
